<h1 style="color: #4CAF50; font-family: Arial, sans-serif;">Thank you for your application, <%= @volunteer.first_name %> <%= @volunteer.last_name %>!</h1>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">Your application is currently under review by an administrator.</p>
<br/>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">You will receive an email notification once your account has been approved.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">We truly appreciate your support and are excited to have you on board.</p>
<br/>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">Best regards,</p>
<br/>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">The Handy Heroes Team</p>
<hr style="border: 1px solid #4CAF50;"/>
<p style="font-family: Arial, sans-serif; font-size: 14px; color: #888; text-align: center;">
  <i><strong>Handy Heroes...Connecting Communities, One Task at a Time!</strong></i>
</p>
