<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

  <table role="presentation" style="width: 80%; background-color:#81c3c9; padding: 20px; margin: 20px auto; border-radius: 10px; border-collapse: collapse; border-spacing: 0;">
    <tr>
      <td style="text-align: center; padding: 20px;">
        <!-- Inner Table -->
        <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; border: 2px solid #fafafa;">
          <tr>
            <td style="padding: 30px; font-family: Arial, sans-serif; color: #1e3653;">
              <!-- Header -->
              <h1 style="margin-top: 0; color: #1e3653; font-size: 24px;">Hello <%= @senior.first_name %>,</h1>
              
              <!-- Message Content -->
              <p style="font-size: 16px; line-height: 1.5; color: #1e3653;">We regret to inform you that your Handy Hero is unable to complete the following task.</p>

              <!-- Task Details Table -->
              <br/>
              <table style="width: 50%; max-width: 600px; margin: 0 auto; border-radius: 10px; text-align:center; border: 3px double #f37022;">
                <tr>
                  <td>
                    <h2 style="font-size: 20px; color: #1e3653; margin-top: 20px;"><u>Task Details</u></h2>
                    
                    <p style="font-size: 16px; color: #1e3653;"><strong>Task:</strong> <%= @task.task_type %></p>
                    <p style="font-size: 16px; color: #1e3653;"><strong>Task ID:</strong> <%= @task.id %></p>
                    <% if @task.description.present? %>
                    <p style="font-size: 16px; color: #1e3653;"><strong>Description:</strong> <%= @task.description %></p>
                    <% end %>  
                  </td>
                </tr>
              </table>              
              <br/>

              <!-- Task Update Info -->
              <p style="font-size: 16px; color: #1e3653;">The task has been reverted to <strong><span style="color: #f37022;">Pending</span></strong> and is now available for other Handy Heroes to accept.</p>
              <p style="font-size: 16px; color: #1e3653;">You will be informed as soon as another Handy Hero accepts your task.</p>
              <!-- Footer -->
              <p style="font-size: 16px; color: #1e3653;">Best regards,</p>
              <p style="font-size: 16px; color: #1e3653;"><strong>The Handy Heroes Team</strong></p>

              <hr style="border: 1px solid #f37022; margin: 20px 0;">
              
              <!-- Closing Line -->
              <p style="font-size: 16px; color: #1e3653; text-align: center;">
                <i>Handy Heroes...Connecting Communities, One Task at a Time!</i>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>
</html>
