<table role="presentation" style="width: 80%;  padding: 20px; margin: 20px auto; border-radius: 10px; border-collapse: collapse; border-spacing: 0;">
  <tr>
    <td style="text-align: center; padding: 20px;">
      <!-- Inner Table -->
      <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 10px; border: 3px solid #81c3c9;">
        <tr>
          <td style="padding: 30px; font-family: Arial, sans-serif; color: #1e3653;">
            <!-- Header -->

<h1 style="margin-top: 0; color: #1e3653; text-align:center; font-size: 24px;">Welcome to Handy Heroes <%= @senior.first_name %> <%= @senior.last_name %>!</h1>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #1e3653;">We are thrilled to have you join the Handy Heroes community!</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #1e3653;">To get started, simply log in using your email address, <strong><%= @senior.email %></strong>, and the password you created during sign-up.</p>

<p style="font-family: Arial, sans-serif; font-size: 16px; color: #1e3653;">Once you're logged in, you can easily post any tasks you'd like assistance with, and we'll notify you when a local Handy Hero is available to help.</p>

<p style="font-family: Arial, sans-serif; font-size: 16px; color: #1e3653;">If you have any questions or require assistance at any time, please don't hesitate to reach out. We are here to help!</p>

<p style="font-family: Arial, sans-serif; font-size: 16px; color: #1e3653;">Thank you for choosing Handy Heroes. We look forward to assisting you!</p>

            
            
         
            
            <!-- Footer -->
            <p style="font-size: 16px; line-height: 1.5; color: #1e3653;">Best regards,</p>
            <p style="font-size: 16px; font-weight: bold; color: #1e3653;">The Handy Heroes Team</p>
            
            <hr style="border: 0; border-top: 1px solid #f37022; margin: 20px 0;">

            <!-- Closing Line -->
            <p style="font-size: 16px; color: #1e3653; text-align: center; font-style: italic;">
              Handy Heroes... Connecting Communities, One Task at a Time!
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

















