<h1>Task Reset Notification</h1>
<p>Hello,</p>
<p>The senior <%= @senior.first_name %> <%= @senior.last_name %> has deleted their account, which has resulted in the removal of the task titled "<%= @task.task_type %>".</p>
<p>We apologize for any inconvenience caused.</p>
<p>Thank you for your understanding.</p>