

<div class="container-fluid background-cover">
  <div class="container">
    <br/>
    <br/>
    <br/>
      <div class="section-container-pending text-center navy">
        
        
        <h1 class="text-center mb-4">PENDING APPROVAL</h1>
        <div class="custom-divider-orange "></div>
        <p>Thank you for uploading your photo and ID document during sign up.
        <p>When your registration has been verified, you will be notified by email and can then login to start being a Handy Hero in your community!<p>
        
        </div>
      </div>
    </div>
</div>